
.about {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.aboutInfo {
    display:flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

@media (width >= 800px) {
    
    .about {
        padding-left: 21%;
        padding-right: 21%;
        gap: 40px;
    }
    
    .aboutInfo {
        gap: 40px;
    }
  
    @media (width >= 1400px) {
        .about {
            margin-top: -120px;
            padding-left: 21%;
            padding-right: 21%;
        }
        
  }
}