:root {
  --flipCardBackLight: #d8eaff;
  --flipCardBackDark: #063e6e;
  --flipCardShadowLight: rgba(0, 0, 0, 0.3);
  --flipCardShadowDark: rgba(0, 0, 0, 0.5);
  --flipCardButtonColor: #0987f2;
  --flipCardButtonTextColor: #ffffff;
}

.flipCard {
  background-color: transparent;
  width: 240px;
  height: 340px;
  perspective: 1000px;
  margin: 20px;
}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  border-radius: 10px;
  box-shadow: 0px 10px 20px var(--flipCardShadowLight);
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront,
.flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-sizing: border-box;
}

.flipCardFront {
  background-color: #fff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 20px var(--flipCardShadowLight);
}

.flipCardBack {
  background-color: var(--flipCardBackLight);
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0px 10px 20px var(--flipCardShadowDark);
}

.flipCardParagraph {
  margin: auto 0;
  text-align: center;
}

.flipCardButtons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
  margin-top: auto;
}

.flipCardButton {
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  flex: 1;
  text-align: center;
  background-color: var(--flipCardButtonColor);
  color: var(--flipCardButtonTextColor);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}

.flipCardButton:hover {
  transform: scale(1.05);
}

.flipCardButton:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.flipCardInner[data-theme='dark'] .flipCardBack {
  background-color: var(--flipCardBackDark);
}

.flipCardInner[data-theme='light'] .flipCardButton {
  background-color: var(--flipCardButtonColor);
  color: var(--flipCardButtonTextColor);
}

.flipCardInner[data-theme='dark'] .flipCardButton {
  background-color: var(--flipCardButtonColor);
  color: var(--flipCardButtonTextColor);
}
