/* Define default theme colors */
:root {
    --flipCardBackLight: #0987f2; /* Light theme background color */
    --flipCardBackDark: #ffffff; /* Dark theme background color */
  }
  
  .flipCard {
    background-color: transparent;
    width: 240px; /* Adjust as needed */
    height: 340px; /* Adjust as needed */
    perspective: 1000px;
    margin: 20px;
  }
  
  .flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(0deg); /* Always show 3D effect */
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* 3D effect shadow */
  }
  
  .flipCard:hover .flipCardInner {
    transform: rotateY(180deg); /* Flip effect */
  }
  
  .flipCardFront,
  .flipCardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-sizing: border-box;
  }
  
  .flipCardFront {
    background-color: #fff; /* Front color for visibility */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .flipCardBack {
    background-color: var(--flipCardBackLight); /* Default light theme color */
    color: black;
    transform: rotateY(180deg); /* Rotate to show the back side */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .flipCardInner[data-theme='dark'] .flipCardBack {
    background-color: var(--flipCardBackDark); /* Dark theme background */
  }
  
  .flipCardImage {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }
  
  .flipCardButtons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
  }
  
  .flipCardButton {
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #2980b9;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .flipCardButton:hover {
    background-color: #2980b9;
    color: #fff;
  }